.use-client-container {
  max-width: 420px;
  margin: 0 auto;
  align-items: center;
  padding: 6px;
  justify-content: center;
  text-align: center;
}

.use-client-title{
  font-size: 32px;
  font-weight: bold;
  color: rgb(247, 247, 247);
}

.use-client-flex-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1200px;
  padding: 20px;
  justify-items: center;
}