.use-client-GeneradorData {
  width: calc(50% - 3px);
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 1000px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.use-client-GeneradorData img {
  width: 200px;
}

.use-client-GeneradorData h2 {
  margin-top: 10px;
  text-align: center;
}
