/* personajes-page.css */
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container div {
  width: 120px;
  height: 250px;
  border: 1px solid #000000;
}
