.use-client-container-benefactores {
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
  padding: 20px;
  justify-content: center;
  text-align: center;
}

.use-client-title-benefactores {
  font-size: 32px;
  font-weight: bold;
  color: rgb(247, 247, 247);
}

.use-client-flex-container-benefactores {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  padding: 20px;
}